/home2/jayaram.reddy/research_threads/dynamic_nerf_reconstruction/VO_pipeline/kitti/
/home2/jayaram.reddy/research_threads/dynamic_nerf_reconstruction/VO_pipeline/pangolin/
/home2/jayaram.reddy/research_threads/dynamic_nerf_reconstruction/VO_pipeline/Mono_VO/data/